.spinner-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    width: 100%;
}

.spinner-inner {
    display: inline-block;
    position: relative;
    animation: spinner-rotate 1.4s linear infinite;

    height: 64px;
    width: 64px;
    background-size: 64px 64px;
}

.spinner-inner circle:nth-child(3) {
    animation: spinner-dasharray 1.4s ease-in-out infinite;
    stroke-dasharray: 80px, 200px;
    stroke-dashoffset: 0;
}

@keyframes spinner-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner-dasharray {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px;
    }
    100% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -120px;
    }
}

