name: PR Checks
permissions:
  contents: read
on:
  pull_request:
    branches:
      - main

jobs:
  lint-and-test:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://npm.pkg.github.com"
          cache: "npm"
      - name: Install dependencies
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
        run: npm ci --ignore-scripts
      - name: Lint
        run: npm run lint:moduler
      - name: Run tests
        run: npm run test
      - name: Build
        run: npm run build
